body {
    margin: 0;
    padding: 0;
    background: #c0c0c0;
}

#login {
    width: 500px;
    margin: 50px auto 0 auto;
}

#login h2 {
    font-weight: bold;
    color: #FFFFFF;
    display: block;
    text-align: center;
    margin: 20px 0 30px 0;
}

#login dl > * {
    margin: 0;
    padding: 0;
    width: 45%;
}

#login dl {
    overflow: hidden;
}

#login dl dd.submit {
    margin: 20px 0 0 0;
}

#login dl dd {
    float: right;
    width: 54%;
}

#login dl dd div span {
    display: block;
}

#login dl dt label {
    margin: 5px 0 0 0;
}

#login input#login_submit {
    color: black;
    padding: 5px 10px;
    font-weight: bold;
}

#login dl dt {
    float: left;
    clear: left;
    margin: 3px 0 0 0;
    height: 38px;
}

span.error {
    color: rgb(150, 3, 3);
    font-size: 12px;
}