body {
    margin: 0;
    padding: 0;
    background: #c0c0c0;
}

#hp > div {
    width: 500px;
    margin: 50px auto 0 auto;
}

#login h2 {
    font-weight: bold;
    color: #FFFFFF;
    display: block;
    text-align: center;
    margin: 20px 0 30px 0;
}

#hp dl {
    overflow: hidden;
}

#hp dl dd.submit {
    margin: 20px 0 0 0;
}

legend {
    font-weight: bold;
}

#hp dl dd div span {
    display: block;
}

#hp dl dt label {
    margin: 5px 0 0 0;
}

#hp input#login_submit {
    color: black;
    padding: 5px 10px;
    font-weight: bold;
}

#hp dl dt {
    float: left;
    clear: left;
    margin: 3px 0 0 0;
    height: 38px;
}

span.error {
    color: rgb(150, 3, 3);
    font-size: 12px;
}

#hp div ul {
    padding: 0;
    margin: 0;
}

#hp div ul li a {
    color: #000000;
}

#hp div ul li {
    display: inline;
    padding: 0 10px 0 0;
}

#hp dl dd {
    height: 40px;
    float: right;
    width: 54%;
    margin: 0;
}

#hp div#register {
    display: none;
}